.calContainer {
                border:1px solid black;
                position:absolute;
                background-color:white;
                z-index:1000;
                display:none; /* Ensure the calendar is hidden on load */
            }
            .calHeader {
                display:flex;
                align-items:center;
                justify-content:space-around;
                margin-top:5px;
            }
            .calGrid {
                display:grid;
                grid-template-columns:auto auto auto auto auto auto auto;
                padding:10px;
            }
            .calDayName, .calDayStyle, .calAdjacentMonthDay, .calTitle {
                padding:5px;
                font-size:20px;
                text-align:center;
            }
            .calDayStyle:hover, .calCtrl:hover {
                color:white;
                background-color:black;
                cursor:default;
            }
            .calHiddenRow {
                display:none;
            }
            .calAdjacentMonthDay {
                color:lightgray;
            }
            .calSelectedDay {
                color:red;
                font-weight:bold;
            }
            .calTitle {
                width:110px;
            }
            .calCtrl {
                font-size:20px;
                padding:0px 8px;
                user-select:none;
            }
            .datepicker-header button {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 16px;
                padding: 5px;
                color: #333; /* Adjust color as needed */
            }

            .datepicker-header button:hover {
                background-color: #f0f0f0;
            }

            .prev-month, .next-month {
                font-size: 20px;
            }

            .prev-year, .next-year {
                font-size: 14px;
            }
            
            .calDay.today {
                background-color: #f2f2f2;
            }